<html>
<body>
<h1>Ficha de cliente</h1>

<p><a href="{% url lista-clientes %}">Lista de clientes</a></p>

<table border="1">
    <tr>
        <th>ID</th><td>{{cliente.id}}</td>
    </tr>
    <tr>
        <th>Nome</th><td>{{cliente.nome}}</a></td>
    </tr>
    <tr>
        <th>Endereço</th><td>{{cliente.endereco}}</td>
    </tr>
</table>
<form action="{% url lista-clientes %}" method="POST">

{{ formulario_obs.as_p }}
<input type="submit" name="atualizar" value="Atualizar observação" />

</form>

</body>


</html>
